<section
  class="row py-2 pb-5 justify-content-around align-items-center pb-4 mb-4 shadow-sm flex-lg-row-reverse"
>
  <div class="col-lg-5">
    <img
      class="d-block mx-lg-auto img-fluid"
      src="/img/nicaragua.png"
      alt="Bandera de Nicaragua"
      height="375"
      width="425"
    />
  </div>
  <div class="col-12 col-lg-5">
    <article class="text-center text-md-start">
      <h1 class="display-5 fw-bold lh-1 mb-3 mt-0">Nicaragua - API</h1>
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
        eligendi, impedit quae temporibus labore nisi sequi quam non deserunt,
        minima pariatur aliquam laboriosam alias maxime?
      </p>
      <div class="d-flex">
        <button class="btn btn-primary btn-lg me-3">Ver más</button>
        <button class="btn btn-outline-dark btn-lg">Contacto</button>
      </div>
    </article>
  </div>
</section>
<section class="row justify-content-around py-4 mb-5 bg-white shadow-sm">
  <div class="col-lg-5">
    <h3>Como usarla</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium,
      est totam veniam cupiditate.
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <span> An item </span>
          <button class="btn btn-primary">Probar</button>
        </div>
      </li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
  <div class="col-lg-5"></div>
</section>
